<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Redirect =============== -->
    <meta http-equiv="refresh" content="1; url={{ site.destination | escape }}">
    <script type="text/javascript">
      window.location.href = "{{ site.destination | escape }}"
    </script>

  </head>

  <body>
    {{ site.title | escape }} has moved to <a href="{{ site.destination | escape }}" title="{{ site.title | escape }}">{{ site.destination | escape }}</a>.
  </body>

</html>
